<%- include('partials/head') %> <%- include('partials/navbar') %>
<h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit est doloribus,
  officiis fugit, sequi quo ratione sed sunt quae provident excepturi culpa ea,
  quisquam minus nobis autem saepe voluptas quaerat.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
  exercitationem nam natus harum quae quas et totam ut consequatur enim
  voluptatum voluptas neque, rem ad! Beatae odio consequuntur laudantium
  praesentium?
</p>
<%- include('partials/footer') %>
